// Gutenberg Stuff
// -
// + + + + + + + + + + 


// Colors

.has-primary-background-color {
	background-color: var(--primary_color);
}
.has-secondary-background-color {
	background-color: var(--secondary_color);
}
.has-accent-background-color {
	background-color: var(--accent_color);
}
.has-text-background-color {
	background-color: var(--text_color);
}
.has-bg-background-color {
	background-color: var(--bg_color);
}
.has-white-background-color {
	background-color: #fff;
}

.has-inline-color.has-text-color,
.has-text-color.has-text-color {
	color: var(--text_color);
}
.has-inline-color.has-primary-color,
.has-text-color.has-primary-color {
	color: var(--primary_color);
}
.has-inline-color.has-secondary-color,
.has-text-color.has-secondary-color {
	color: var(--secondary_color);
}
.has-inline-color.has-accent-color,
.has-text-color.has-accent-color {
	color: var(--accent_color);
}
.has-inline-color.has-bg-color,
.has-text-color.has-bg-color {
	color: var(--bg_color);
}
.has-inline-color.has-white-color,
.has-text-color.has-white-color {
	color: #fff;
}



// Text

.has-small-font-size {
	font-size: 1.3rem;
	
	@include rwd(large) {
		font-size: 1.4rem;
	}
}
.has-regular-font-size {
	font-size: 1.6rem;
	
	@include rwd(large) {
		font-size: 1.8rem;
	}
}
.has-medium-font-size {
	font-size: 2rem;
	
	@include rwd(large) {
		font-size: 2.2rem;
	}
}
.has-large-font-size {
	font-size: 2.2rem;
	font-family: var(--font_bold);
	
	@include rwd(large) {
		font-size: 2.4rem;
	}
}


// Links / Button

.wp-block-buttons {
	display: flex;
	flex-wrap: wrap;
}
.wp-block-button {
	& + & {
		margin-left: 2rem;
	}
}


// Files

.wp-block-file {
	
	a:first-child {
		font-family: var(--font_regular);
		text-decoration: none;
		border-bottom: var(--secondary_color) 2px solid;
		transition: border .2s ease-in-out;
		
		&:hover {
			border-bottom-width: .4rem;
		}
		&:focus {
			background-color: var(--text_color);
			border-bottom-color: var(--text_color);
			color: #fff;
		}
	}
}


// Group

.wp-block-group {
	
	&.has-background {
		padding-top: 2.4rem;
		padding-bottom: 2.4rem;
		
		& > .wp-block-group__inner-container {
			@include center();
			padding: 1rem;
		}
	}
}


// Columns 

.wp-block-columns {
	display: block;
	
	.wp-block-column {
		width: 100% !important;
		margin: 0;
	}

	@include rwd(large) {
		display: flex;
		
		.wp-block-column {
			margin: 0 2rem;
			
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}


// Images

.wp-block-image {
	
	&.alignfull {
		width: 100%;
	}
	
	// WP block fix
	
	&:not([class*="is-resized"]) img {
		width: 100%; 
		height: auto;
	}
	
	figcaption {
		margin: 0;
	}	
}


// Media text

.wp-block-media-text {
	display: block;
	
	@include rwd(large) {
		display: flex;
		flex-direction: row;
		
		.wp-block-media-text__content,
		.wp-block-media-text__media {
			width: 50%;
		}
	}
	
	.wp-block-media-text__content {
		padding: 0 2rem;
	}
	
	@include rwd(large) {
		&.has-media-on-the-right {
			
			.wp-block-media-text__content {
				padding-left: 0;
			}
		}
	}
}


// ACF Blocks Stuff
// -
// + + + + + + + + + + 


[class*=acf-block--] {

	.acf-block-container {
		width: 100%;
		
		&.center-max {
			padding: 1rem;
			margin: 0 auto;
			max-width: $max-width;
		}
	}
}

// Text 

.acf-block--text {
	.acf-block-container {
		
	}
}


// Text+Img

.acf-block--textimg {
	.acf-block-container {
		
	}
}


// Gallery 

.acf-block--gallery {
	.acf-block-container {
		
	}
}


// CTA

.acf-block--cta {
	.acf-block-container {
		
	}
}


// Posts

.acf-block--posts {
	.acf-block-container {
		
		.acf-block-post-item {
			@extend .post-block;
		}
		.acf-block-post-figure {
			@extend .post-figure;
		}
		.acf-block-post-header {
			@extend .post-header;
		}
		.acf-block-post-title {
			@extend .post-title;
		}
		.acf-block-post-metas {
			@extend .post-meta;
		}
		.acf-block-post-excerpt {
			@extend .post-excerpt;
		}
	}
}


// Testimonial

.acf-block--testimonial {
	.acf-block-container {
		
	}
}


// Lists Advanced

.acf-block--advanced-list {
	.acf-block-container {
		
	}
}


// Cards

.acf-block--cards {	
	.acf-block-container {
		
	}
}


// Banner

.acf-block--pagebanner {
	.acf-block-container {
		
	}	
}