// ------------------------------
//
// = Buttons
//
// ------------------------------

.action-btn {
	display: inline-block;
	padding: .5rem 1.75rem;
	font-size: 1.6rem;
	letter-spacing: -.05rem;
	font-family: var(--font_title);
	text-transform: uppercase;
	text-decoration: none;
	border: var(--text_color) 2px solid;
	background-color: var(--text_color);
	color: #fff;
	transition: background .2s linear;
	
	& + & {
		margin-left: 2rem;
	}
	
	&:focus, 
	&:hover {
		background-color: var(--accent_color) !important;
		color: var(--text_color) !important;
	}
	&:focus {
		outline: none;
	}	
}

.white-btn {
	@extend .action-btn;
	background-color: #fff;
	color: var(--text_color);

	&:focus, 
	&:hover {
		background-color: var(--text_color) !important;
		color: #fff !important;
	}	
}

.wp-block-button__link,
.wp-block-file__button {
	@extend .action-btn;
	border-radius: 0;
}