// Common Stuff
// -
// + + + + + + + + + + 


// Structure 


.page-wrap {
	
	&.has-sidebar {
		@include center();
		
		@include rwd(large) {
			display: flex;
			flex-direction: row-reverse;
			flex-wrap: wrap;
		}
	}
}

.page-banner,
.page-content,
.page-sidebar {
	width: 100%;
}

.page-banner {

	.inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 1rem;
		margin-bottom: 2rem;
	}
	
	.page-title {
		margin-bottom: 0;
		font-size: 3.2rem;
		
		@include rwd(medium) {
			font-size: 4.8rem;
		}
		@include rwd(large) {
			font-size: 7.2rem;
		}
		
		.single & {
			
			@include rwd(medium) {
				font-size: 3.8rem;
			}
			@include rwd(large) {
				font-size: 4.8rem;
			}
		}
		
	}
	
	// On pages 
	
	body.archive &,
	body.blog &,
	body.page & {
		background: var(--text_color);
		
		.page-title {
			color: var(--accent_color);
		}
		.archive-desc {
			margin-top: .75rem;
			
			p {
				color: #fff;
				margin-bottom: 0;
			}
		}
		
		@include rwd(medium) {
			position: fixed;
			right: 0;
			bottom: 0;
			margin: 0;
			z-index: 100;
			width: 50%;
			height: 45rem;
			background: transparent url(img/ui/stain-single.svg) top right no-repeat;
			background-size: contain;
			pointer-events: none;
			
			.inner {
				height: 100%;
				align-items: flex-end;
			}
			.page-title {
				max-width: 22rem;
				padding-top: 10rem;
				text-align: right;
			}
			.archive-desc {
				max-width: 22rem;
				
				p {
					text-align: right;
				}
			}
		}
		@include rwd(large) {
			width: 74rem;
			height: 65rem;
			
			.page-title {
				max-width: 32rem;
				padding-top: 20rem;
				padding-right: 2rem;
			}
			.archive-desc {
				max-width: 32rem;
				padding-right: 2rem;
			}
		}
		@include rwd(1800px)	{
			width: 74rem;
			height: 78rem;
			
			.page-title {
				max-width: 36rem;
				padding-right: 3rem;
			}
			.archive-desc {
				max-width: 36rem;
				padding-right: 3rem;
			}
		}
	}	

	.error404 &,
	.page-template-pagecustom-maintenance & {
		
	}
	
}

.page-title {
	
	.search-term {
		font-family: var(--font_bolditalic);
	}
}

.page-content {
	
	& > * {
		width: 100%;
		padding: 0 1rem;
		@include center();
		
		// Padding for stain
		
		body:not(.home) & {
			@include rwd(medium) {
				padding-right: 40rem;
			}
			@include rwd(large) {
				padding-right: 50rem;
			}
			@include rwd(wide) {
				padding-right: 40rem;
			}
			@include rwd(xwide) {
				padding-right: 30rem;
			}	
		}
	}
	
	// @include rwd(medium) {
	// 	& > p,
	// 	& > [class*="contact-form-7"],
	// 	& .acf-block-text--1col,
	// 	& #comments {
	// 		padding-right: 20rem;
	// 	}
	// 	
	// 	& > p.has-text-align-center {
	// 		padding-right: 10rem;
	// 		padding-left: 10rem;
	// 	}
	// 	
	// 	.has-sidebar & {
	// 		padding-right: 8.3333%;
	// 	}
	// }
	
	& > *.alignwide {
		max-width: $max-width-large;
	}
	& > *.alignfull {
		margin-left: 0;
		margin-right: 0;
		max-width: none;
	}
	
	& > [class*="wp-block-gallery"],
	& > [class*="wp-block-cover-image"],
	& > [class*="wp-block-quote"] {
		@include center();
	}
	
	& > span {
		display: block;
	    margin-bottom: 1.5em;
	}
	
	@include rwd(large) {
		
		.has-sidebar & {
			width: 75%;
		}
	}	
}

.page-sidebar {
	padding: 1rem;
	
	position: absolute;
	top: auto; 
	left: 0;
	width: 100%;
	padding: 1rem;
	background-color: #fff;
	
	transform: translateX(-110%);
	transition: transform .4s ease-in-out;
	z-index: 80;
	
	.menu-opened + & {
		transform: translateX(0);
	}
	
	@include rwd(small) {
		width: 80%;
	}
	@include rwd(medium) {
		width: 60%;
	}
	
	@include rwd(large) {
		display: block;
		position: relative;
		left: auto;
		padding: 0;
		width: auto;
		background-color: transparent;
		transform: none;
			
		.has-sidebar & {
			width: 25%;
		}
	}	
}

// Scrollout Animations

.bio-section[data-scroll="in"],
.blog-section[data-scroll="in"],
.portfolio-section[data-scroll="in"] > div {
	
	.wp-block-media-text__content {
		animation: slide_up 1s ease-in-out;
	}
	.wp-block-media-text__media {
		animation: slide_left 1s ease-in-out;
	}
}
.portfolio-section[data-scroll="in"] > div {
	.wp-block-columns {
		animation: slide_up 1s ease-in-out;
	}
}

.site-title[data-scroll="in"] svg {
	animation: rotate_5 .5s ease-in-out;
}

hr[data-scroll="in"] {
	animation: stretch 1s ease-in-out;
}

section[data-scroll="in"],
.wpcf7-form {
	animation: slide_up 1s ease-in-out;
}

.boxed-cta[data-scroll="in"] {
	
	.acf-block-cta-text {
		animation: move_left 1s ease-in-out;
	}
	.acf-block-cta-btn {
		animation: move_right 1s ease-in-out;
	}
}

.post-block[data-scroll="in"] {
	
	.post-figure,
	.acf-block-post-figure {
		animation: fade_in 1s ease-in-out;
	}
	.post-meta,
	.acf-block-post-metas {
		animation: border_opacity 1s ease-in-out;
	}
}

@include rwd(medium) {
	
	.acf-block--textimg[data-scroll="in"] {
		.acf-block-textimg-picture {
			animation: slide_right 1s ease-in-out;
		}
		.right .acf-block-textimg-picture {
			animation: slide_left 1s ease-in-out;
		}
		.acf-block-textimg-text {
			animation: slide_left 1s ease-in-out;
		}
		.right .acf-block-textimg-picture {
			animation: slide_right 1s ease-in-out;
		}
	}
	
}

@include rwd(large) {
	
	.site-intro-picture[data-scroll="in"] svg {
		animation: scale_stain .5s ease-in-out;
	}

	.icon-title[data-scroll="in"] img {
		animation: drop_in .5s ease-in-out;
	}
	
}