/* ------------------------- */
/* = Footer
/* ------------------------- */


#site_foot {
	position: relative;
	background: var(--footer_color) url(img/ui/pattern2.png) center center no-repeat;
	background-size: cover;
}

.footer-social {
	width: 100%;
	padding: 1rem;
	margin-bottom: 4rem;
	
	.widget-title {
		margin-bottom: 2rem;
	}
}

.footer-copyright {
	padding: 1rem;
	margin-bottom: 2.6rem;
	
	p {
		margin-bottom: 0;
		margin-right: 1rem;
		font-size: 1.4rem;
		
		a {
			@include link-style();
		}
	}
}
.footer-menu {
	display: flex;
	flex-wrap: wrap;
	
	li {
		margin: 0 1rem 0 0;
		font-size: 1.4rem;
		
		a {
			@include link-style();
		}
	}
}