// ------------------------------
// = Front page elements
// ------------------------------


.home {
	
	#wrapper {
		background-color: var(--text_color);
		
		@include rwd(large) {
			background-color: transparent;
			
			&::after {
				content: '';
				display: block;
				position: fixed;
				top: 0;
				left: 0;
				height: 100vh;
				width: 41.5rem;
				padding-left: $half-space-sans;
				background-color: var(--text_color);
				z-index: -1;
			}
		}
	}
	#site_foot {
		
		@include rwd(large) {
			
			& {
				z-index: -1;
			}
			.row {
				padding-left: 42.5rem;
			}
		}
	}
	
	hr.pre-footer.is-style-dots {
		margin: 5rem auto !important;
		max-width: 50rem;
	}
	
	// head
	
	@include rwd(large) {
		
		#site_head {
			position: absolute;
			width: 100%;	
		}
	}
	
}

.site-intro {
	position: relative;
	background-color: #fff;
	z-index: 1;
	
	@include rwd(large) {
		height: 100vh;
		width: 100vw;
	}
	
	.site-intro-content {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 22rem;
		margin-left: -11rem;
		z-index: 2;
		
		@include rwd(small) {
			padding-bottom: 2rem;
		}
		@include rwd(large) {
			left: $half-space;
			width: 24rem;
			margin-left: 0;
			padding-bottom: 6rem;
		}
		
		p {
			color: #fff;
				
			a {
				@include link-style(white);
			}
		}
	}
	
	.site-intro-picture {
		position: relative;
		overflow: hidden;
		height: 34rem;
		z-index: 1;
		
		@include rwd(small) {
			height: 40rem;
		}
		@include rwd(medium) {
			height: 50rem;
		}
		@include rwd(large) {
			position: absolute;
			left: auto;
			bottom: 0;
			width: 100%;
		}
		
		svg {
			position: relative;
			display: block;
			width: 68rem;
			left: 50%;
			transform: translateX(-50%);
			
			@include rwd(small) {
				width: 98rem;
			}
			@include rwd(medium) {
				width: 148rem;
			}
			@include rwd(large) {
				width: 114.8rem;
				height: 50rem;
				transform: translateX(-86.5%);
			}
		}	
	}
}


// Intermediate laptops
	
@media (max-height: 750px) and (min-width: 996px) {
	
	.site-intro .site-intro-picture svg {
		width: 92rem;
		height: 65rem;
		transform: translateX(-92.6%);
	}
	.site-intro .site-intro-content {
		padding-bottom: 1rem;
	}
	
	.home:not(.sticky-nav) .main-menu {
		padding-top: 3rem;
	}
	
	.site-intro-picture[data-scroll="in"] svg {
		animation: scale_stain_inter .5s ease-in-out;
	}
}
	

.scroll-down {
	display: block;
	position: absolute;
	top: 22rem;
	right: 50%;
	margin-right: -2.45rem;
	padding: 0;
	background: transparent;
	z-index: 90;
	
	&:hover,
	&:focus {
		animation: pop_in .2s ease-in-out;
	}
	
	svg {
		width: 4.9rem;
		height: 3.8rem;
	}
	
	@include rwd(large) {
		top: auto;
		bottom: -6rem;
		right: 15rem;
		z-index: 200;
	}
}

// Blocks

.bio-section,
.blog-section {

	.page-content > & {
		background-color: var(--text_color);
		margin: 0;
		padding: 5rem 0 0 0;
		max-width: none;
		
		@include rwd(large) {
			background-color: transparent;
			padding: 5rem 0;
		}
	}
	
	&.wp-block-media-text {
		
		.wp-block-media-text__content {
			color: #fff;
			padding: 2rem;
			padding-bottom: 3rem;
			
			@include rwd(large) {
				padding-left: $half-space !important;
				padding-right: 12rem;
				padding-bottom: 0;
			}
			
			p a {
				@include link-style(white);
			}
			
		}
		
		.wp-block-media-text__media {
			@include rwd(large) {
				padding-right: 4rem;
				background-color: transparent;
				
				img {
					max-width: 68rem;
				}
			}
		}
	}
}

.bio-section {
	.page-content > & {
		margin-bottom: 0;
	}
}

.portfolio-section {
	position: relative;
	background-color: var(--bg_color);

	.page-content > & {
		width: 100%;
		max-width: none;
		padding: 5rem 0 3rem 0;
	}
	
	.wp-block-group__inner-container {
		@include center();
		
		& > .wp-block-heading {
			padding: 0 2rem;
			margin: 0;
			text-align: center;
			
			@include rwd(large) {
				padding: 0;
				margin-bottom: 2rem;
				text-align: right;
			}
		}
	}
		
	@include rwd(large) {
		background-color: transparent;
		
		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: var(--bg_color);
			z-index: -1;
		}
	}
	
	.wp-block-media-text {
		
		.wp-block-media-text__content {
			padding: 2rem;	
		}
	}
	
	.wp-block-columns {
		display: flex;
		padding: 1rem;
		padding-bottom: 0;
		margin-top: 0;
		
		@include rwd(medium) {
			justify-content: center;
		}
		
		@include rwd(large) {
			padding: 0;
		}
		
		.wp-block-column {
			padding: 1rem;
			flex: 0 1 50% !important;
			 
			&:first-child {
				flex: 1 0 100% !important;
				
				@include rwd(medium) {
					flex: 0 1 50% !important;
				}
			}
				
			@include rwd(large) {
				padding: 0;
			}
			
			figure {
				margin: 0;
				
				@include rwd(large) {
					figcaption {
						font-family: var(--font_title);
						font-size: 1.6rem;
						display: flex;
						width: 100%;
						height: 100%;
						padding: 0;
						left: 0;
						bottom: auto;
						top: -.5rem;
						justify-content: center;
						align-items: center;
						text-align: center;
						max-width: none;
						background-color: transparent;
						opacity: 0;
						z-index: 2;
						
						transition: .2s ease-in-out;
						pointer-events: none;
					}
					
					a::after {
						content: '';
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-color: var(--text_color);
						opacity: 0;
						z-index: 1;
						
						transition: .2s ease-in-out;
						pointer-events: none;
					}
					
					a:hover,
					a:focus {
						&::after {
							opacity: .8;
						}
						& + figcaption {
							opacity: 1;
							top: 0;
							backdrop-filter: blur(.4rem);
						}
					}
				}
				
			}
		}
	}
}

.bio-section,
.blog-section {
	
	.wp-block-media-text__media {
		@include rwd(large) {
			a {
				display: inline-block;
			}
		}
	}
}