/* ------------------------- */
/* = Header
/* ------------------------- */


#site_head {
	position: relative;
	background-color: var(--header_color);
	
	& > .row {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		@include rwd(large) {
			flex-direction: row;
			justify-content: space-between;	
		}
		
	}
}

.site-brand {
	padding: 1rem;	
}

.site-nav {
	padding: 1rem;
	margin-top: 2rem;
}

.site-title {
	display: block;
	font-family: var(--font_title);
	text-transform: uppercase;
	font-size: 2.4rem;
	line-height: 1;
	margin: 0;
	
	&,
	& a {
		@include rwd(large) {
			display: flex;
			align-items: center;	
		}
	}
	
	a {
		text-decoration: none;
	}
	svg {
		display: block;
		width: 14.7rem;
		height: 12.8rem;
		
		@include rwd(large) {	
			margin-left: -5.2rem;
			width: 19.5rem;
			height: 17rem;
		}
	}
	
	.logo-baseline {
		display: block;
		margin: 1rem auto;
		font-family: var(--font_bold);
		font-size: 1.4rem;
		line-height: 1.2;
		letter-spacing: .1rem;
		text-align: center;
		text-transform: none;
		
		@include rwd(large) {
			text-align: left;
			font-size: 1.8rem;
			letter-spacing: 0;
			line-height: 1.1;
		}
	}

}

	

// Sticky Nav

.sticky-nav {

	@include rwd(large) {
		#site_head {
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
			
			animation: drop_in .8s;
			z-index: 100;		
			
		}
		
		&.admin-bar {
			
			#site_head {
				top: 46px;
				
				@include rwd($admin-bar) {
					top: 32px;
				}
			}
		}
	}
}