/* ------------------------- */
/* = Header
/* ------------------------- */


#site_head {
	position: relative;
	background-color: #fff;
	margin-bottom: 2rem;
	
	.home & {
		margin-bottom: 0;
	}
	
	& > .row {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		@include rwd(large) {
			flex-direction: row;
			justify-content: space-between;
			
			.home:not(.sticky-nav) & {
				align-items: flex-start;
			}	
		}
		
	}
}

.site-brand {
	position: relative;
	padding: 1rem;
	z-index: 100;
}

.site-nav {
	
	@include rwd(large) {
		padding: 1rem;
		
		.home:not(.sticky-nav) & {
			position: absolute;
			right: 0;
		}
	}
}

.site-title {
	display: block;
	font-family: var(--font_title);
	text-transform: uppercase;
	font-size: 2.4rem;
	line-height: 1;
	margin: 0;
	
	&,
	& a {
		@include rwd(large) {
			display: flex;
			align-items: center;	
		}
	}
	
	& a {
		text-decoration: none;
		
		&:hover,
		&:focus {
			svg {
				transform: scale(1.05) rotate(3deg);
			}
			@include rwd(large) {
				.logo-baseline {
					padding-left: .5rem;
				}
			}
		}
	}
	svg {
		display: block;
		width: 14.7rem;
		height: 12.8rem;
		transition: transform .4s ease-in-out;
		//animation: rotate_5 .5s ease-in-out;
		
		@include rwd(large) {	
			width: 19.5rem;
			height: 17rem;
			margin-left: -5.4rem;
			
			.home & {
				width: 26.4rem;
				height: 23rem;
				margin-left: -7.6rem;
			}
		}
	}
	
	.logo-baseline {
		display: block;
		margin: 1rem auto;
		font-family: var(--font_bold);
		font-size: 1.4rem;
		line-height: 1.2;
		letter-spacing: .1rem;
		text-align: center;
		text-transform: none;
		
		@include rwd(large) {
			text-align: left;
			font-size: 1.8rem;
			letter-spacing: 0;
			transition: padding .3s ease-in-out;
			
			.home & {
				font-size: 2.2rem;
			}
		}
	}

}

.site-intro {
	
}

	

// Sticky Nav

.sticky-nav {

	@include rwd(large) {
		
		#site_head {
			position: fixed !important;
			width: 100%;
			top: 0;
			left: 0;
			background-color: transparent;
			
			animation: drop_in .8s;
			z-index: 100;
		}
		
		.site-brand {
			//position: fixed;
			left: -2.5rem;
			top: 0;
			z-index: 150;
			
			svg {
				height: 6rem;
				width: 6.5rem;
				margin-left: 0;
			}
		}
		
		.logo-baseline {
			@include a11y-hidden();
		}
		
		.site-nav {
			padding: 2.5rem 0;
		}
		
		.main-menu {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			padding: 2.5rem 0;
			padding-right: $half-space-sans;
			justify-content: flex-end;
			background-color: rgba(255, 255, 255, 0.75);
			backdrop-filter: blur(.8rem);			
		}
		
		.scroll-down {
			display: none;
		}
	}
	
	@include rwd($admin-bar) {
		&.admin-bar {
			
			.main-menu,
			.site-brand {
				top: 3.2rem;
			}
		}
	}	
}