/* ------------------------- */
/* = Header
/* ------------------------- */


#site_head {
	position: relative;
	background-color: var(--header_color);
	margin-bottom: 2rem;
	
	& > .row {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		@include rwd(large) {
			flex-direction: row;
			justify-content: space-between;	
		}
		
	}
}

.site-brand,
.site-nav {
	padding: 1rem;
}

.site-title {
	display: block;
	font-family: var(--font_title);
	text-transform: uppercase;
	font-size: 2.4rem;
	line-height: 1;
	margin: 0;
	
	&,
	& a {
		@include rwd(large) {
			display: flex;
			align-items: center;	
		}
	}
	
	a {
		text-decoration: none;
	}
	svg {
		display: block;
		width: 14.7rem;
		height: 12.8rem;
		
		@include rwd(large) {	
			margin-left: -5.4rem;
			width: 19.5rem;
			height: 17rem;
		}
	}
	
	.logo-baseline {
		display: block;
		margin: 1rem auto;
		font-family: var(--font_bold);
		font-size: 1.4rem;
		line-height: 1.2;
		letter-spacing: .1rem;
		text-align: center;
		text-transform: none;
		
		@include rwd(large) {
			text-align: left;
			font-size: 1.8rem;
			letter-spacing: 0;
			line-height: 1.1;
		}
	}

}

	

// Sticky Nav

.sticky-nav {

	@include rwd(large) {
		#site_head {
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
			background-color: transparent;
			
			animation: drop_in .8s;
			z-index: 100;		
			
			
		}
		.site-brand {
			position: fixed;
			left: 0;
			top: 0rem;
			z-index: 150;
			
			svg {
				height: 6rem;
				width: 6.5rem;
				margin-left: 0;
			}
		}
		.logo-baseline {
			@include a11y-hidden();
		}
		.site-nav {
			padding: 2.5rem 0;
		}
		.main-menu {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			padding: 2.5rem 0;
			padding-right: 2.5rem;
			justify-content: flex-end;
			background-color: rgba(255, 255, 255, 0.75);
			//box-shadow: 0 0 .6rem rgba(0, 0, 0, 0.20);
			//border-bottom: #c0c0c0 1px dotted;
		}
		
		&.admin-bar {
			
			#site_head {
				top: 46px;
				
				@include rwd($admin-bar) {
					top: 32px;
				}
			}
		}
	}
}