/* ------------------------- */
/* = Plugins
/* ------------------------- */

// Fancybox

.fancybox-navigation {
	
	.fancybox-button {
		display: block;
		background: transparent;
		padding: .5rem;
		width: 4.4rem; 
		height: 4.4rem;
		
		&[disabled] {
			opacity: .2;
			pointer-events: none;
		}
		
		&:hover,
		&:focus {
			
			div {
				background-color: var(--accent_color);
				
				path {
					fill: var(--text_color);
				}
			}
		}
		
		div {
			border: var(--text_color) 2px solid;
			background: var(--text_color);
			border-radius: 50%;
		}
	}
}
.fancybox-toolbar {
	.fancybox-button--close {
		padding: 1rem;
		margin: 1rem;
		background: var(--text_color);
		border-radius: 50%;
		border: var(--text_color) 2px solid;
		
		&:hover,
		&:focus {
			background-color: var(--accent_color);
				
			path {
				fill: var(--text_color);
			}
		}
	}
}
.fancybox-bg {
	background: #fff;
	backdrop-filter: blur(1.4rem);
}

.fancybox-slide {
	.fancybox-content {
		img {
			box-shadow: 0 0 3.6rem rgba(0, 0, 0, 0.25);
		}
	}
}
	
	


/* ------------------------- */
/* = Misc
/* ------------------------- */

.error404 {
	
	.page-content .searchform {
		margin-bottom: 2rem;
	}
}

// Back to top

#back2top {
	display: block;
	padding: .5rem;
	width: 8.4rem;
	height: 8.4rem;
	background-color: transparent;
	
	position: fixed;
	bottom: 1.8rem;
	right: 0;
	
	@include rwd(large) {
		left: -0.3rem;
	}
	
	opacity: 0;
	transition: .2s ease-in-out;
	z-index: 900;
	
	& svg {
		display: block;
		width: 8.4rem;
		height: 8.4rem;
	}
	&:hover,
	&:focus {
		transform: scale(1.1);
		
		svg path.arrow {
			animation: pop_in .2s;
		}
	}
	
	.back2top-btn & {
		opacity: 1;
	}
}


/* ------------------------- */
/* = Helpers
/* ------------------------- */

.a11y-hidden {
	@include a11y-hidden();
}
.out-of-reach {
	display: none;
}