/* ------------------------- */
/* = Post blocks
/* ------------------------- */

.post-block {
	position: relative;
	display: flex;
	margin-bottom: 4rem;
	padding-bottom: 2rem;
	border-bottom: var(--third_color) 1px dotted;
}
.post-figure {
	width: 30%;
	
	a, img {
		display: block;
	}
	@include img-opacity();
}
.post-header {
	
}
.post-content {
	width: 70%;
	padding-left: 1.6rem;
}
.post-title {
	font-size: 2.8rem;
	margin-bottom: .2rem;
	
	a {
		text-decoration: none;
		transition: .2s ease-in-out;
		
		&:hover,
		&:focus {
			background-color: var(--accent_color);
			border-radius: $radius;
			padding: 0 .25rem;
		}
	}
}
.post-meta {
	background-color: var(--bg_color);
	border-radius: $radius;
	padding: .5rem;
	margin-bottom: 2rem;
	
	p, span {
		font-size: 1.4rem;
		margin: 0;
		
		a {
			@include link-style();
		}
	}
}
.post-excerpt {
	
}


/* ------------------------- */
/* = Archives
/* ------------------------- */

.the-posts {
	
}


	

/* ------------------------- */
/* = Singles
/* ------------------------- */


.featured-image-container {
	display: none;
	
	@include rwd(medium) {
		display: block;
		position: fixed;
		right: 0;
		bottom: 0;
		margin: 0;
		z-index: 100;
		width: 40rem;
		height: 45rem;
		pointer-events: none;
		background: transparent url(img/ui/stain-single.svg) 99% 2px no-repeat;
		background-size: contain;
		
		
		.featured-image {
			width: 100%;
			height: 100%;
			
			background-size: cover;
			background-position: left center;
			background-repeat: no-repeat;
			
			mask-image: url(img/ui/stain-single.svg);
			mask-size: contain;
			mask-repeat: no-repeat;
			mask-position: bottom right;
		}
	}
	
	@include rwd(large)	{
		width: 57rem;
		height: 65rem;
	}
	@include rwd(1800px)	{
		width: 74rem;
		height: 78rem;
	}
}


/* ------------------------- */
/* = Pagination
/* ------------------------- */

// IAS 3

.trigger {
	padding-top: 3rem;
	padding-bottom: 3rem;
	
	button {
		margin: 0 auto;
	}
}
.spinner {
	text-align: center;
	padding: 2rem 0;

	svg {
		display: inline-block;
		width: 4.4rem;
		height: 4.4rem;
		
		circle {
			fill: var(--text_color);
		}
	}
}
.no-more {
	display: none;
	text-align: center;
}


// Pagenavi & Nav links

.pagination {
	padding: 2rem 0;
}
.nav-links,
.wp-pagenavi {
	display: flex;
	flex-wrap: wrap;
	
	& > a,
	& > span {
		display: block;
		width: 3.4rem;
		height: 3.4rem;
		margin: 0 1rem 1rem 0;
		
		background-color: var(--text_color);
		color: #fff;
		border-radius: 50%;
		
		text-align: center;
		line-height: 3.4rem;
	}
	a {
		text-decoration: none;
		transition: background .2s ease-in-out;
		
		&:hover,
		&:focus {
			background-color: var(--primary_color);
			color: #fff;
		}
	}
	.current {
		background-color: var(--primary_color);
	}
	
	.pages {
		@include a11y-hidden();
	}
	.previouspostslink,
	.nextpostslink {
		span {
			@include a11y-hidden();
		}
	}
	
	a.last,
	a.first,
	a.next,
	a.prev {
		position: relative;
		background-color: transparent;
		color: var(--text_color);
		padding: 0 1rem;
		border-radius: 0;
		width: auto;
		
		&::after {
			content: '';
			display: block;
			width: 25%;
			height: 1px;
			border-top: var(--text_color) 1px solid;
			transition: .3s ease-in-out;
		}
		&:hover::after,
		&:focus::after {
			width: 100%;
		}
	}
}

/* ------------------------- */
/* = Comments
/* ------------------------- */

#comments {
	margin-top: 5rem;
	
	&::before {
		content: '';
		display: block;
		width: 4rem;
		height: 1px;
		border-top: var(--third_color) 1px solid;
		margin-bottom: 4rem;
	}
}

.comment-list {
	list-style: none;
	padding-left: 0;	
	
	.comment {
		display: flex;
		flex-direction: column;
		margin: 2rem 0;
		
		@include rwd(medium) {
			flex-direction: row;
			flex-wrap: wrap;
			align-items: flex-start;	
		}
		
		.children {
			padding-left: 6rem;
		}
	}
	& > .comment {
		padding-bottom: 4rem;
		border-bottom: var(--third_color) 1px dotted;
	}
	
	.comment-author.avatar {
		width: 9.6rem;
		height: 9.6rem;
		border-radius: 50%;
		
		img {
			border-radius: 50%;
		}
	}
	.bypostauthor .comment-author.avatar {
		padding: .25rem;
		box-shadow: 0 0 0 3px var(--accent_color);
			  
		img {
			border-width: 3px;
		}
	}
	
	
	.comment-content {
		
		@include rwd(medium) {
			flex: 1 0 0;
			padding-left: 3rem;
		}

		a {
			@include link-style();
		}
		.pending {
			display: block;
			margin: 1rem 0;
			background-color: var(--secondary_color);
			padding: 1rem;
			color: #fff;
		}		
	}
	.comment-author-name {
		font-family: var(--font_bold);
		font-size: 1.8rem;
	}
	.comment-date {
		font-size: 1.4rem;
		font-family: var(--font_mono);
		margin-bottom: 2rem;
	}
	
	.reply {
		width: 100%;
		margin-top: 1rem;
		
		@include rwd(medium) {
			padding-left: calc(9.6rem + #{3rem});
		}
		
		a {
			@include link-style();
		}
	}
}
.comment-reply-title {
	
	small {
		display: block;
		font-family: var(--font_regular);
		font-size: 1.6rem;
		a {
			display: inline-block;
			margin-top: 1rem;
			@include link-style();
		}
	}
}