// -------------------------
// = Variables Colors
// -------------------------



// Root CSS vars

:root {
	
	// Colors 
	
	--primary_color: #222629; 
	--secondary_color: #616F39;
	--third_color: #5B5D54; 
	--accent_color: #9CFF2E;
	--bg_color: #EFF3DC;
	--page_color: #ffffff;
	
	--text_color: #222629;
	
	--accent_alpha50: #9CFF2E80;	//80 = 50%
	--accent_alpha40: #9CFF2E66;	//66 = 40%
	
}